* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px 0 250px;
  background-color: rgb(245, 245, 245);
  font-family: "Avenir Next", sans-serif;
}
h1 {
  margin-bottom: 15px;
}
.wrapper {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 63fr 47fr;
  gap: 40px;
}
.form__text {
  margin-bottom: 35px;
}
.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
.form__wrapper > * {
  padding: 19px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 16px 32px 0px #cacbd240;
  font-family: inherit;
}
.form__textarea {
  resize: none;
  margin-bottom: 50px;
}
.form__button {
  width: 220px;
  padding: 20px;

  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #000;

  border: none;
  border-radius: 10px;
}

.grid-full-row {
  grid-column-start: -1;
  grid-column-end: 1;
}

/* Custom Select */
select {
  display: none;
}
.custom-select {
  position: relative;
  background-color: #fff;
  padding: 0;
}
.custom-select--show {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.custom-select--show .custom-select__current::after {
  transform: translateY(calc(-50% + 2px)) rotate(-225deg);
}
.custom-select--show .custom-select__list {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.custom-select__current {
  width: 100%;
  padding: 20px;
  color: #777;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 5px 3px rgba(#ccc, 0.2);
}
.custom-select__current:focus {
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.custom-select__current::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(calc(-50% - 2px)) rotate(-45deg);
  border-style: solid;
  border: 2px solid;
  border-color: transparent transparent #777 #777;
  transition: all 0.25s ease;
}
.custom-select__list {
  width: 100%;
  max-height: 200px;
  position: absolute;
  left: 0;
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0px 24px 32px 0px #a0a1af40;
  margin-top: 20px;
  opacity: 0;
  visibility: hiden;
  pointer-events: none;
  transition: all 0.25s ease;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.custom-select__item {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  display: inline-block;
  width: 100%;
}
.custom-select__item:hover,
.custom-select__item:focus {
  background-color: #eee;
  padding-left: 30px;
}
/* Map info window */

.info-window {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}
.info-window__heading {
  font-weight: 700;
  margin-bottom: 8px;
}
.info-window__address {
  margin-bottom: 10px;
}
.info-window__contact {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.info-window__contact:last-of-type {
  margin-bottom: 0;
}
.info-window__contact p {
  color: #858585;
}
.info-window__contact svg {
  margin: 0 10px;
}

@media (max-width: 1140px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 780px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  #map {
    height: 570px;
  }
}
@media (max-width: 480px) {
  body {
    padding: 70px 0;
  }
  .form__wrapper {
    grid-template-columns: 1fr;
  }
  .form__button {
    width: 100%;
  }
}
