* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 100px 0 250px;
  background-color: rgb(245, 245, 245);
  font-family: "Avenir Next", sans-serif;
}
h1 {
  margin-bottom: 15px;
}
.wrapper {
  width: 1140px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 63fr 47fr;
  gap: 40px;
}
.form__text {
  margin-bottom: 35px;
}
.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
.form__wrapper > * {
  padding: 19px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 16px 32px 0px #cacbd240;
  font-family: inherit;
}
.form__textarea {
  resize: none;
  margin-bottom: 50px;
}
.form__button {
  width: 220px;
  padding: 20px;

  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #000;

  border: none;
  border-radius: 10px;
}

.grid-full-row {
  grid-column-start: -1;
  grid-column-end: 1;
}

/* Map info window */
.info-window {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
}
.info-window__heading {
  font-weight: 700;
  margin-bottom: 8px;
}
.info-window__address {
  margin-bottom: 10px;
}
.info-window__contact {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.info-window__contact:last-of-type {
  margin-bottom: 0;
}
.info-window__contact p {
  color: #858585;
}
.info-window__contact svg {
  margin: 0 10px;
}

@media (max-width: 1140px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 780px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  #map {
    height: 570px;
  }
}
@media (max-width: 480px) {
  body {
    padding: 70px 0;
  }
  .form__wrapper {
    grid-template-columns: 1fr;
  }
  .form__button {
    width: 100%;
  }
}
